.workflow__wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  .workflow__main-title {
    color: rgb(56, 56, 56);
    font-family: Jura;
    font-size: 48px;
    font-weight: 400;
    line-height: 130.02%;
    letter-spacing: 20%;
    text-align: left;
    margin-bottom: 20px;
    @media (max-width: 428px) {
      line-height: 100%;
    }
  }
  .workflow {
    &__item {
      border-bottom: 3px solid rgb(240, 240, 240);
      display: flex;
      background: rgb(255, 255, 255);
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
      align-items: center;
      transition: all 0.3s ease-in-out;
      border-radius: 0px;
      @media (max-width: 428px) {
        justify-content: center;
        gap: 10px;
        flex-direction: column;
        padding-bottom: 10px;
      }
      &:hover {
        transition: all 0.3s ease-in-out;
        background: rgb(211, 255, 225);
        border-radius: 12px;
        cursor: pointer;
      }
      .workflow__id {
        color: rgb(0, 142, 45);
        font-family: Jura;
        font-size: 80px;
        font-weight: 400;
        line-height: 100px;
        letter-spacing: 0%;
        text-align: left;
        width: 150px;
        @media (max-width: 428px) {
          text-align: center;
        }
      }

      .workflow__title {
        color: rgb(56, 56, 56);
        font-family: Jura;
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        width: 270px;
      }

      .workflow__text {
        color: rgb(56, 56, 56);
        font-family: Jura;
        font-size: 15px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: left;
      }

      .workflow__arrow-icon {
        @media (max-width: 428px) {
          transform: rotate(90deg);
        }
        img {
          // стили для иконки стрелки
        }
      }
    }
  }
}

.workflow__button {
  margin-top: 40px;
  width: 342px;
  max-height: 65px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 40px 24px 40px;
  border-radius: 33px;
  background: rgb(0, 142, 45);
  color: rgb(255, 255, 255);
  font-family: Jura;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border: 1px solid rgb(0, 142, 45);
  &:hover {
    transition: all 0.3s ease-in-out;
    color: black;
    background: rgb(201, 255, 218);
    border-radius: 12px;
    cursor: pointer;
  }
}
