<div class="workflow__wrapper">
  <div class="workflow__title">Как проходит сотрудничество с нами</div>
  <div class="workflow">
    <div class="workflow__item">
      <div class="workflow__id">01</div>
      <div class="workflow__title">первичный звонок</div>
      <div class="workflow__text">
        Общаемся с клиентом, узнаем его потребности
      </div>
      <div class="workflow__arrow-icon">
        <img src="assets/icons/arrow.png" />
      </div>
      <div class="workflow__text">Изучаем техническое задание</div>
    </div>
    <div class="workflow__item">
      <div class="workflow__id">02</div>
      <div class="workflow__title">Выезд на объект</div>
      <div class="workflow__text">Снимаем замеры</div>
      <div class="workflow__arrow-icon">
        <img src="assets/icons/arrow.png" />
      </div>
      <div class="workflow__text">Определяем сроки работ</div>
    </div>
    <div class="workflow__item">
      <div class="workflow__id">03</div>
      <div class="workflow__title">составляем смету</div>
      <div class="workflow__text">Рассчет сметы на материалы</div>
      <div class="workflow__arrow-icon">
        <img src="assets/icons/arrow.png" />
      </div>
      <div class="workflow__text">Определяем сроки работ</div>
    </div>
    <div class="workflow__item">
      <div class="workflow__id">04</div>
      <div class="workflow__title">Оформляем договор</div>
      <div class="workflow__text">Подписываем договор</div>
      <div class="workflow__arrow-icon">
        <img src="assets/icons/arrow.png" />
      </div>
      <div class="workflow__text">Начинаем работу</div>
    </div>
    <div class="workflow__button">договориться о встрече</div>
  </div>
</div>
