<div class="about__wrapper">
  <div class="about">
    <div class="about__top-gallery">
      <img src="assets/images/about01.png" />
      <img src="assets/images/about02.png" />
    </div>
    <div class="about__title">Рассказываем немного о нас</div>
    <div class="about__subtitle">
      Соединняя с элегантностью скандинавскую простоту
    </div>
    <div class="about__content">
      <div class="about__left">
        <div class="about__content-title">
          Думы о предстоящем ремонте или строительстве вызывают уныние и
          растерянность?
        </div>
        <div class="about__content-text">
          Не знаете с чего начать и кому доверить заботы о своем будущем доме?
          Если Вы не готовы нести эту ношу самостоятельно, ежедневно расходуя
          свои нервные клетки, то мы возьмем всю организацию работ на себя,
          избавив вас от стресса! Стройкой и ремонтом должны заниматься люди,
          которые любят и знают свою работу. Тем более, что наша команда в сфере
          отделки загородных домов и строительстве более 10-ти лет. За это время
          были воплощены мечты более сотни семей, которые уже забыли с чего все
          начиналось и просто наслаждаются жизнью в своем загородном доме.
        </div>
      </div>
      <div class="about__content-imgs">
        <img src="assets/images/about03.png" alt="" class="content__img" /><img
          src="assets/images/about04.png"
          alt=""
          class="content__img"
        /><img
          src="assets/images/about05.png"
          alt=""
          class="content__img"
        /><img
          src="assets/images/about06.png"
          alt=""
          class="content__img"
        /><img
          src="assets/images/about07.png"
          alt=""
          class="content__img"
        /><img src="assets/images/about08.png" alt="" class="content__img" />
      </div>
    </div>
    <p class="about__description">
      Приобретая жилье за городом, люди ставят для себя разные задачи: кому-то
      важно перевезти пожилых родителей, кому-то создать комфортные условия для
      себя и уже повзрослевших детей, которым хочется иметь свое пространство,
      кому-то важно иметь вариант для полноценного отдыха на природе. Наша
      задача- воплотить в жизнь вашу мечту, выполняя этап за этапом.
    </p>
  </div>
</div>
