<div class="gallery__wrapper">
  <div class="gallery">
    <a class="gallery__item" routerLink="/project01">
      <img src="assets/images/projects/gallery01.jpg" alt="" />
      <div class="item__title">Поэтическая ул, коттедж 150м</div>
      <div class="item__subtitle">Смотреть проект</div>
    </a>
    <a class="gallery__item" routerLink="/project02">
      <img src="assets/images/projects/gallery02.jpg" alt="" />
      <div class="item__title">Пейзажная, коттедж 175м</div>
      <div class="item__subtitle">Смотреть проект</div>
    </a>
    <a class="gallery__item" routerLink="/project03">
      <img src="assets/images/projects/gallery03.jpg" alt="" />
      <div class="item__title">Пейзажная ул, коттедж Фьюжн</div>
      <div class="item__subtitle">Смотреть проект</div>
    </a>
    <a class="gallery__item" routerLink="/project04">
      <img src="assets/images/projects/gallery04.png" alt="" />
      <div class="item__title">Лесная ул</div>
      <div class="item__subtitle">Смотреть проект</div>
    </a>
    <a class="gallery__item" routerLink="/project05">
      <img src="assets/images/projects/gallery05.jpg" alt="" />
      <div class="item__title">Живописная ул, дуплекс 180м</div>
      <div class="item__subtitle">Смотреть проект</div>
    </a>
  </div>
</div>
