<div class="contacts__wrapper">
  <div class="contacts">
    <div class="contacts__links">
      <div class="contacts__title">Связаться с нами:</div>
      <div class="links__inner-wrapper">
        <div class="phone">
          <img src="assets/icons/phone.png" />+ 7 918 999 99 99
        </div>
        <div class="tg"><img src="assets/icons/tg.png" /></div>
        <div class="tg"><img src="assets/icons/wa.png" /></div>
      </div>
      <div class="contacts__button">Бесплатная консультация</div>
    </div>
    <div class="contacts__map">
      <div style="position: relative; overflow: hidden">
        <a
          href="https://yandex.com/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 0px"
          >Москва</a
        ><a
          href="https://yandex.com/maps/213/moscow/?ll=37.591676%2C55.733341&utm_medium=mapframe&utm_source=maps&z=14.8"
          style="color: #eee; font-size: 12px; position: absolute; top: 14px"
          >Яндекс Карты — транспорт, навигация, поиск мест</a
        ><iframe
          src="https://yandex.com/map-widget/v1/?ll=37.591676%2C55.733341&z=14.8"
          width="968"
          height="414"
          frameborder="0"
          allowfullscreen="true"
          style="position: relative"
        ></iframe>
      </div>
    </div>
  </div>
</div>
