<div class="header__wrapper">
  <div class="header">
    <div class="header__logo"><img src="assets/images/logo.png" /></div>
    <div class="header__navigation" *ngIf="!mobile">
      <a routerLink="/" class="header__navigation-item">Главная</a>
      <a (click)="scrollToAnchor('about')" class="header__navigation-item"
        >О нас</a
      >
      <a routerLink="projects" class="header__navigation-item">Проекты</a>
      <a (click)="scrollToAnchor('services')" class="header__navigation-item"
        >Услуги</a
      >
      <a routerLink="annex" class="header__navigation-item">Пристройки</a>
      <a routerLink="pricing" class="header__navigation-item">Цены</a>
      <a (click)="scrollToAnchor('contacts')" class="header__navigation-item"
        >Контакты</a
      >
    </div>
    <div class="header__phone" *ngIf="!mobile">
      <a href="tel:+79999999999">+79999999999</a>
    </div>
    <div
      class="mobile-menu"
      [class.open]="isMenuOpen"
      (click)="toggleMenu()"
      *ngIf="mobile"
    >
      <div class="burger"></div>
    </div>
    <div class="menu" [class.open]="isMenuOpen" *ngIf="mobile">
      <div class="header__logo"><img src="assets/images/logo.png" /></div>
      <a routerLink="/" (click)="toggleMenu()">Главная</a>
      <a
        (click)="scrollToAnchor('about'); toggleMenu()"
        class="header__navigation-item"
        >О нас</a
      >
      <a
        routerLink="projects"
        (click)="toggleMenu()"
        class="header__navigation-item"
        >Проекты</a
      >
      <a
        (click)="scrollToAnchor('services'); toggleMenu()"
        class="header__navigation-item"
        >Услуги</a
      >
      <a
        routerLink="annex"
        (click)="toggleMenu()"
        class="header__navigation-item"
        >Пристройки</a
      >
      <a
        routerLink="pricing"
        (click)="toggleMenu()"
        class="header__navigation-item"
        >Цены</a
      >
      <a
        (click)="scrollToAnchor('contacts'); toggleMenu()"
        class="header__navigation-item"
        >Контакты</a
      >
      <a href="tel:+79999999999">+79999999999</a>
    </div>
  </div>
</div>
