<div class="header__wrapper">
  <div class="header">
    <div class="header__logo"><img src="assets/images/logo.png" /></div>
    <div class="header__navigation">
      <a routerLink="/" class="header__navigation-item">Главная</a>
      <a (click)="scrollToAnchor('about')" class="header__navigation-item"
        >О нас</a
      >
      <a routerLink="projects" class="header__navigation-item">Проекты</a>
      <a (click)="scrollToAnchor('services')" class="header__navigation-item"
        >Услуги</a
      >
      <a routerLink="annex" class="header__navigation-item">Пристройки</a>
      <a routerLink="pricing" class="header__navigation-item">Цены</a>
      <a (click)="scrollToAnchor('contacts')" class="header__navigation-item"
        >Контакты</a
      >
    </div>
    <div class="header__phone"><a href="tel:+79999999999">+79999999999</a></div>
  </div>
</div>
