<div class="benefits__wrapper">
  <div class="benefits">
    <div class="benefits__item">
      <div class="benefits__dot"></div>
      <div class="benefits__title">Большой опыт</div>
      <div class="benefits__text">
        Большой опыт и понимание спецификации загородного строительства , а
        значит - отлаженная работа
      </div>
    </div>
    <div class="benefits__item">
      <div class="benefits__dot"></div>
      <div class="benefits__title">Комплексный подход</div>
      <div class="benefits__text">
        Вам не нужно тратить лишнее время и искать бригады на разные виды работ
      </div>
    </div>
    <div class="benefits__item">
      <div class="benefits__dot"></div>
      <div class="benefits__title">Проверенные подрядчики</div>
      <div class="benefits__text">
        Работаем только с проверенными людьми и гарантируем качество материалов
        и самих работ
      </div>
    </div>
  </div>
</div>
