.benefits__wrapper {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  .benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    @media (max-width: 1428px) {
      justify-content: center;
    }
    & .benefits__item {
      box-sizing: border-box;
      border: 1px solid rgb(56, 56, 56);
      border-radius: 20px;
      padding: 100px 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;
      align-items: center;
      width: 100%;
      max-width: 450px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0), 0 2px 4px rgba(0, 0, 0, 0),
        0 4px 8px rgba(0, 0, 0, 0), 0 8px 16px rgba(0, 0, 0, 0),
        0 16px 32px rgba(0, 0, 0, 0);
      transition: all 0.3s ease-in-out;
      &:hover {
        transition: all 0.3s ease-in-out;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05),
          0 4px 8px rgba(0, 0, 0, 0.05), 0 8px 16px rgba(0, 0, 0, 0.05),
          0 16px 32px rgba(0, 0, 0, 0.05);
        cursor: pointer;
      }
      .benefits__dot {
        width: 8px;
        height: 8px;
        background-color: black;
        border-radius: 50px;
      }

      .benefits__title {
        color: rgb(56, 56, 56);
        font-family: Jura;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0%;
      }

      .benefits__text {
        color: rgb(56, 56, 56);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 300;
        line-height: 98.5%;
        letter-spacing: 2.5%;
        text-align: center;
      }
    }
  }
}
