<div class="price__wrapper">
  <div class="price__title">Цены на работу</div>
  <div class="price">
    <div class="price__item">
      <div class="price__item-title">
        Кирпичные пристройки к коттеджам и дуплексам
      </div>
      <ul class="price__list">
        <li class="price__list-item">
          Более 150м2 - от <span class="highlighted">60000</span>р/м
        </li>
        <li class="price__list-item">
          Более 200м2 - от <span class="highlighted">55000</span>р/м
        </li>
        <li class="price__list-item">
          Более 200м2 - от <span class="highlighted">55000</span>р/м
        </li>
        <li class="price__list-item">До 150м2 - Индивидуально</li>
      </ul>
    </div>

    <div class="hero__button">связаться с нами</div>
  </div>
</div>
