.price__wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  .price__title {
    color: rgb(15, 16, 12);
    font-family: Jura;
    font-size: 38px;
    font-weight: 400;
    line-height: 142.02%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 30px;
    @media (max-width: 1366px) {
      text-align: center;
    }
  }
  .price {
    display: flex;
    flex-direction: column;
    gap: 20px;
    & .price__item {
      background-repeat: no-repeat;
      min-height: 200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      @media (max-width: 1428px) {
        background: white;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
      }
      .price__item-title {
        color: rgb(0, 0, 0);
        font-family: Jura;
        font-size: 48px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 20%;
        text-align: left;
        max-width: 870px;
        @media (max-width: 1428px) {
          font-size: 42px;
          font-weight: 700;
          line-height: 80%;
          text-align: center;
        }
        @media (max-width: 428px) {
          font-size: 32px;
          font-weight: 700;
          line-height: 80%;
          text-align: center;
        }
      }

      .price__list {
        font-family: Jura;
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 20%;
        text-align: right;
        padding-inline-start: 0px;
        list-style: none;
        @media (max-width: 428px) {
          text-align: center;
        }
      }

      .price__list-item {
        // стили для элементов списка
      }

      .highlighted {
        color: #008e2d;
        font-size: 32px;
      }
    }
  }
}
.hero__button {
  width: 242px;
  max-height: 65px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 40px 24px 40px;
  border-radius: 33px;
  background: rgb(0, 142, 45);
  color: rgb(255, 255, 255);
  font-family: Jura;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid rgb(0, 142, 45);
  transition: all 0.3s ease-in-out;
  &:hover {
    transition: all 0.3s ease-in-out;
    color: black;
    background: rgb(201, 255, 218);
    border-radius: 12px;
    cursor: pointer;
  }
}
.bg01 {
  background-image: url(../../../../../assets/icons/pricebg01.png);
  @media (max-width: 428px) {
    font-size: 32px;
    font-weight: 700;
    line-height: 80%;
  }
}
.bg02 {
  background-image: url(../../../../../assets/icons/pricebg02.png);
}
.bg03 {
  background-image: url(../../../../../assets/icons/pricebg03.png);
}
.price__description {
  width: 100%;
  max-width: 1400px;
  font-family: Jura;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 20%;
}
