<div class="price__wrapper">
  <div class="price__title">Цены на работу</div>
  <div class="price">
    <div class="price__item bg01">
      <div class="price__item-title">Строительство малоэтажных домов</div>
      <ul class="price__list">
        <li class="price__list-item">
          Более 150м2 - от <span class="highlighted">60 000</span>р/м
        </li>
        <li class="price__list-item">
          Более 200м2 - от <span class="highlighted">55 000</span>р/м
        </li>
        <li class="price__list-item">
          Более 300м2 - от <span class="highlighted">49 000</span>р/м
        </li>
        <li class="price__list-item">До 150м2 - Индивидуально</li>
      </ul>
    </div>
    <div class="price__item bg02">
      <div class="price__item-title">Ремонт в дуплексах/коттеджах</div>
      <ul class="price__list">
        <li class="price__list-item">
          Эконом - от <span class="highlighted">28 000</span>р/м
        </li>
        <li class="price__list-item">
          Бизнес - от <span class="highlighted">35 000</span>р/м
        </li>
        <li class="price__list-item">
          Люкс - от <span class="highlighted">49 000</span>р/м
        </li>
        <li class="price__list-item">До 150м2 - Индивидуально</li>
      </ul>
    </div>
    <div class="price__item bg03">
      <div class="price__item-title">Строительство пристроек из поротерма</div>
      <ul class="price__list">
        <li class="price__list-item">
          Более 25м2 - от <span class="highlighted">100 000</span>р/м
        </li>
        <li class="price__list-item">
          Более 50м2 - от <span class="highlighted">75 000</span>р/м
        </li>
        <li class="price__list-item">
          Менее 25м2 - от <span class="highlighted">110 000</span>р/м
        </li>
        <li class="price__list-item">До 150м2 - Индивидуально</li>
      </ul>
    </div>
    <p class="price__description">
      При наличии проекта, делаем индивидуальный расчет. Осуществляем
      предварительный выезд на объект для замеров и согласования технических
      вопросов.
    </p>
    <div class="hero__button">связаться с нами</div>
  </div>
</div>
