<div class="projects__wrapper">
  <div class="projects">
    <div class="projects__top">
      <div class="projects__content">
        <div class="projects__title">Проекты</div>
        <div class="projects__subtitle">Дома, которые мы уже построили</div>
        <button class="projects__button">смотреть все работы</button>
      </div>
      <div class="projects__image">
        <img src="assets/images/gallery01.png" />
      </div>
    </div>
    <div class="projects__bottom">
      <img src="assets/images/gallery02.png" />
      <img src="assets/images/gallery03.png" />
      <img src="assets/images/gallery04.png" />
      <img src="assets/images/gallery05.png" />
    </div>
  </div>
</div>
