<div class="services__wrapper" id="services">
  <div class="services__title">Услуги</div>
  <div class="services">
    <div class="services__items-wrapper">
      <div class="services__item" routerLink="projects">
        <div class="item__title">внутренняя отделка домов</div>
        <ul class="item__list">
          <li>Перегородки и штукатурные работы</li>
          <li>Сантехнические и электромонтажные работы</li>
          <li>Шпаклевка и плиточные работы</li>
          <li>Чистовые работы</li>
        </ul>
        <!-- <div class="item__button">
          Узнать подробнее <img src="assets/icons/arrow-green.png" />
        </div> -->
      </div>
      <div class="services__item" routerLink="annex">
        <div class="item__title">
          строительство кирпичных пристроек к коттеджам, дуплексам (1/2 этажа)
        </div>
        <div class="service__text">
          Довольно часто, подумав над планировкой дома, клиент понимает, что
          площади под какие-то цели не хватает. Например, на первом этаже
          хочется иметь более просторную гостиную-столовую, где сможет
          разместиться вся семья в любое время года
        </div>
        <!-- <div class="item__button">
          Узнать подробнее <img src="assets/icons/arrow-green.png" />
        </div> -->
      </div>
      <div class="services__item green">
        <div class="item__title-green">ландшафтный дизайн</div>
        <div class="service__text-green">
          планировка участка, прокладка инженерных коммуникаций дорожки,
          освещение, беседки и зоны BBQ, посадки
        </div>
        <!-- <div class="item__button-white">
          Узнать подробнее <img src="assets/icons/arrow-green.png" />
        </div> -->
      </div>
      <div class="services__item">
        <div class="item__title">строительство домов из поротерма</div>
        <div class="service__text">
          Построим по вашему проекту или предложим свой вариант проекта
        </div>
        <!-- <div class="item__button">
          Узнать подробнее <img src="assets/icons/arrow-green.png" />
        </div> -->
      </div>
    </div>
    <div class="services__image">
      <img src="assets/images/service-img.jpg" />
    </div>
  </div>
</div>
