<div class="hero__wrapper">
  <div class="hero">
    <div class="hero__content">
      <div class="hero__title">
        Строительство и отделка домов в режиме “АНТИСТРЕСС”!
      </div>
      <div class="hero__subtitle">
        -строительство пристроек к дому из кирпича<br />
        -отделка коттеджей и дуплексов под ключ<br />
        -строительство домов из поротерма <br />
        -благоустройство территории,ландшафт
      </div>
      <div class="hero__advantage-wrapper">
        <div class="advantages">
          <div class="advantage__item">работаем с 2010 года</div>
          <div class="advantage__item">более 120 проектов по всей стране</div>
          <div class="advantage__item">от 10 квадратных метров</div>
          <div class="advantage__item">каждый ремонт выполнен с любовью</div>
        </div>
        <div class="hero__button">связаться с нами</div>
      </div>
    </div>
    <div class="hero__img">
      <img src="assets/images/main-img.png" />
    </div>
  </div>
</div>
