.hero__wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 428px) {
      justify-content: center;
    }
    & .hero__content {
      & .hero__title {
        margin-top: 100px;
        color: rgb(56, 56, 56);
        font-family: Jura;
        font-size: 46px;
        font-weight: 400;
        line-height: 92%;
        letter-spacing: -3%;
        text-align: left;
        @media (max-width: 428px) {
          margin-top: 30px;
        }
      }

      & .hero__subtitle {
        color: rgb(56, 56, 56);
        font-family: Jura;
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -1%;
        text-align: left;
        margin-top: 40px;
      }

      & .hero__advantage-wrapper {
        display: flex;
        margin-top: 80px;
        flex-direction: row;
        align-items: flex-end;
        gap: 45px;
        @media (max-width: 428px) {
          margin-top: 30px;
          flex-wrap: wrap;
        }
        .advantages {
          .advantage__item {
            color: rgb(108, 107, 107);
            font-family: Jura;
            font-size: 14px;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
            /* Gray stroke */
            border-bottom: 0.75px solid rgb(185, 179, 179);
            margin-top: 10px;
          }
        }

        .hero__button {
          width: 242px;
          max-height: 65px;
          /* Auto layout */
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 24px 40px 24px 40px;
          border-radius: 33px;
          background: rgb(0, 142, 45);
          color: rgb(255, 255, 255);
          font-family: Jura;
          font-size: 16px;
          font-weight: 700;
          line-height: 19px;
          letter-spacing: 0%;
          text-align: center;
          text-transform: uppercase;
          border: 1px solid rgb(0, 142, 45);
          transition: all 0.3s ease-in-out;
          &:hover {
            transition: all 0.3s ease-in-out;
            color: black;
            background: rgb(201, 255, 218);
            border-radius: 12px;
            cursor: pointer;
          }
        }
      }
    }

    & .hero__img {
      width: 100%;
      max-width: 700px;
      margin-top: 80px;
      img {
        width: 100%;
        max-width: 700px;
        @media (max-width: 428px) {
          margin-left: -30px;
        }
      }
    }
  }
}
