.footer__wrapper {
  /* black */
  margin-top: 30px;
  background: rgb(15, 16, 12);

  width: 100%;
  @media (max-width: 428px) {
    border-radius: 24px;
  }
  .footer {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    @media (max-width: 428px) {
      justify-content: center;
      flex-direction: column;
    }
    & .footer__logo {
      @media (max-width: 428px) {
        margin: 0 auto;
      }
      img {
        // стили для логотипа
      }
    }

    & .footer__navigation {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 5px;
      align-items: flex-start;
      @media (max-width: 428px) {
        align-items: center;
        flex-direction: column;
      }
      .footer__navigation-item {
        color: rgb(254, 255, 252);
        font-family: Jura;
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 20%;
        text-align: center;
        text-decoration: none;
      }
    }

    & .contacts__info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      @media (max-width: 428px) {
        align-items: center;
        flex-direction: column;
      }
      & .contacts__link {
        color: rgb(254, 255, 252);
        font-family: Jura;
        font-size: 17px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 20%;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
