<div class="footer__wrapper">
  <div class="footer">
    <div class="footer__logo"><img src="assets/images/logo.png" alt="" /></div>
    <div class="footer__navigation">
      <a href="" class="footer__navigation-item">Главная</a>
      <a href="" class="footer__navigation-item">О нас</a>
      <a href="" class="footer__navigation-item">Проекты</a>
      <a href="" class="footer__navigation-item">Услуги</a>
      <a href="" class="footer__navigation-item">Пристройки</a>
      <a href="" class="footer__navigation-item">Цены</a>
      <a href="" class="footer__navigation-item">Контакты</a>
    </div>
    <div class="contacts__info">
      <a href="" class="contacts__link">+ 7 918 999 99 99</a
      ><a href="" class="contacts__link">info@email.ru</a>
    </div>
  </div>
</div>
